@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here can you join some cool events!</p>
    <div class="row justify-content-center">
        <a class="btn btn-secondary mx-1" asp-page="/Events/Index">Register</a>
        <a class="btn btn-primary mx-1" asp-page="/Events/Index">Login</a>
    </div>
</div>
