@page
@model ASPNET_inlamning.Pages.MyEvents.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AttendeeEvent[0].Event)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AttendeeEvent) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Event.Title)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.AttendeeEventID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
